<% provide :title, @user.username %>
<div class="container">
  <%= render 'detail', user: @user %>
  <hr>
  <h3><strong><%= @user.username %>さんの投稿</strong></h3>
  <%= page_entries_info @reviews %>
  <div class="row"><%= render @reviews %></div>
  <%= paginate @reviews %>
</div>
