<div class="col-md-6 col-xs-12">
  <div class="parlor-index">
    <h3><strong><%= link_to parlor.name, parlor %></strong></h3>
    <span><small><%= parlor.address %></small></span>
    <h4>総合評価： <strong><%= parlor.rating %></strong></h4>
    <h5>レビュー件数： <strong><%= parlor.reviews.size %>件</strong></h5>
    <div id="favorites_count_<%= parlor.id %>">
      <h5>行きつけ登録： <strong><%= parlor.favorites.size %>ユーザー</strong></h5>
    </div>
    <%= render 'parlors/images', parlor: parlor %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <%= render 'parlors/favorite_form', parlor: parlor %>
      </div>
    </div>
  </div>
  <hr>
</div>
