<div class="parlor-detail">
  <div class="row">
    <div class="col-sm-5 col-md-offset-1 col-xs-12">
      <h2><strong><%= parlor.name %></strong></h2>
      <h5><strong>住所</strong></h5>
      <h5><%= parlor.address %></h5>
      <br>
      <h5><strong>URL</strong></h5>
      <h5>
        <% if parlor.website.blank? %>
          （登録されていません）
        <% else %>
          <%= link_to parlor.website, parlor.website, target: '_blank', rel: 'noopener noreferrer' %>
        <% end %>
      </h5>
      <br>
      <h5><strong>タバコ</strong></h5>
      <h5><%= parlor.smoking_i18n %></h5>
      <small><a href="#" data-toggle="modal" data-target="#edit-parlor">情報を編集する</a></small>
      <br>
      <%= link_to "レビューを投稿する！", new_parlor_review_path(parlor), class: "form-btn btn-info" %>
      <br>
    </div>
    <div class="col-sm-5 col-xs-12">
      <div id="parlors-show-map"></div>
      <%= link_to "地図アプリで見る",
                  "https://www.google.co.jp/maps?q=#{parlor.latitude},#{parlor.longitude}",
                  target: '_blank', rel: 'noopener noreferrer' %>
    </div>
  </div>
</div>
