<% provide :title, "パスワード再設定" %>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <div class="users-form">
        <h2>パスワード再設定</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <br>
          <%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em><br/>
          <% end %>
          <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password" %>
          <br>
          <%= f.label :password_confirmation, "新しいパスワード(確認用)" %><br/>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
          <br>
          <%= f.submit "パスワード登録", class: 'form-btn btn-warning' %>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
