<div class="modal fade review-modal" id="review-modal-<%= review.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <small>
          <%= link_to review.user.username, user_path(review.user) %>さんのレビュー
        </small><br>
        <small>投稿: <%= l review.created_at, format: :long %></small>
        <h5><strong><%= link_to review.parlor.name, review.parlor %></strong></h5>
        <h4><strong><%= review.title %></strong></h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/rating', review: review %>
        <hr>
        <h5><strong><%= Review.human_attribute_name(:content) %></strong></h5>
        <p><%= review.content %></p>
        <% if review.images.any? %>
          <hr>
          <div class="row">
            <% review.images.each do |image| %>
              <div class="col-sm-6 col-xs-12">
                <div class="parlor-image">
                  <%= link_to(rails_blob_path(image), target: '_blank', rel: 'noopener noreferrer') do %>
                    <%= image_tag image.variant(resize: '250x160'), class: 'img-rounded' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <hr>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <div id="modal_like_<%= review.id %>" class="like-form">
                <%= render 'reviews/like_form', review: review %>
              </div>
            </div>
          </div>
        <% end %>
        <hr>
        <h5><strong><%= Comment.human_attribute_name(:content) %></strong></h5>
        <div id="comments-<%= review.id %>">
          <%= render review.comments %>
        </div>
        <% if user_signed_in? %>
          <div id="comment-form-<%= review.id %>" class="comment-form">
            <%= render 'comments/form', review: review %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if current_user == review.user %>
          <%= link_to "レビュー編集", edit_review_path(review), class: 'btn btn-warning' %>
          <%= link_to "レビュー削除", review_path(review), class: 'btn btn-danger',
                      method: :delete, data: { confirm: "削除しても良いですか？" } %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
