<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="review-index">
    <div class="thumbnail">
      <h6>
        <%= link_to review.user.username, user_path(review.user) %>さんのレビュー
      </h6>
      <hr>
      <small>投稿: <%= l review.created_at, format: :long %></small><br>
      <label><%= Review.human_attribute_name(:overall) %>：</label>
      <% review.overall.times do %>
        <span class="glyphicon glyphicon-star review-star"></span>
      <% end %>
      <% review.blank_stars(:overall).times do %>
        <span class="glyphicon glyphicon-star review-unstar"></span>
      <% end %>
      <h5><strong><%= link_to review.parlor.name, review.parlor %></strong></h5>
      <h4><strong><%= review.title %></strong></h4>
      <hr>
      <div class="review-content">
        <p><%= review.shorten_content %></p>
        <a href="#" data-toggle="modal" data-target="#review-modal-<%= review.id %>">詳しく見る</a>
        <% if current_user == review.user %>
          <%= link_to "レビュー編集", edit_review_path(review) %>
          <%= link_to "レビュー削除", review_path(review), method: :delete,
                      data: { confirm: "削除しても良いですか？" } %>
        <% end %>
      </div>
      <div class="review-like-form">
        <% if user_signed_in? %>
          <hr>
          <div id="like_btn_<%= review.id %>" class="like-form">
            <%= render 'reviews/like_form', review: review %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'reviews/modal', review: review %>
