<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to "Mahjong Parlor", root_path, id: "footer-logo" %>
        </div>
        <div class="col-sm-offset-6 col-sm-2">
          <div class="footer-menu">
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to "アカウント情報編集", edit_user_registration_path %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li><%= link_to "アカウント作成", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
              <% end %>
              <li><%= link_to "雀荘登録", new_parlor_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
