<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <nav class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Mahjong Parlor", root_path, id: "header-logo" %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content">
        <%= form_tag parlors_search_path, method: :get, class: 'navbar-form navbar-left' do %>
          <%= text_field_tag :keyword, "", class: 'form-control', id: 'parlors_search_field',
                             placeholder: "店名/場所 (例: しぶとん 渋谷)" %>
          <%= submit_tag "検索", class: 'btn btn-info' %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "雀荘登録", new_parlor_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "行きつけ", favorites_user_path(current_user) %></li>
            <li><%= link_to "フォローユーザー", following_user_path(current_user) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
                <%= current_user.username %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィール", user_path(current_user) %></li>
                <li><%= link_to "いいね！", likes_user_path(current_user) %></li>
                <li><%= link_to "フォロワー", followers_user_path(current_user) %></li>
                <li><%= link_to "アカウント情報変更", edit_user_registration_path %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "アカウント登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </nav>
</header>
